<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color: rgb(233, 222, 240);
                font-family: Arial, Helvetica, sans-serif;
            }
            .article{
                width:90%;
                text-align: justify;
                background-color: rgb(130, 92, 141);
                color: white;
                padding: 15px;
                border-radius: 10px;
            }
        </style>
    </head>
    <body>
        <center>
        {% for i in range(5) %}
        <div class='article'>
        <h2>{{ head[i] }}</h2> 
        <p>{{ art[i] }}</p>
        <a href={{ links[i] }}> Link to the article</a>
        </div>
        <br>
    {% endfor %}
        </center>
    </body>
</html>