<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <article class='articleclass'>
                <div data-component='text-block'>
                    <p class='paragraph'>
                        this is p tag text
                    </p>
                </div>
                <div data-component='text-block'>
                    <p class='paragraph'>
                        this is another p tag text
                    </p>
                </div>
            </article>
            <p class='paragraph'>
                this is out of the article tag
            </p>
        </div>
    </body>
</html>